body{
	/*The most popular method in working with em values is to set the font-size on the body to 62.5%. 
	Because the default browser font-size is 16px, this makes it 10px (without hard-setting it to 10px, which wouldn't cascade). 
	Using 10 as a multiplier is much easier than using 16. This way, you need a font size of 18px? Use font-size: 1.8em.
	font-size: 1em;
	http://css-tricks.com/css-font-size/
	*/
	font-family: Pontano Sans;
	font-size: 62.5%;
	padding:0em;
	margin:0em;
	border:0em;
	background-color: #fffcfe;
	color:#2f2f2f;
}

p{
	padding:0em;
	margin:0em;
	border:0em;
}


a{
	text-decoration: none;
}

a:link, a:visited, a:active{
    color: #fffcfe;
}

a.mistLink:link{
	color:#e74946;
}

a.mistLink:visited{
	color:#e74946;
}

a.mistLink:hover{
	background-color:#2f2f2f;
}

a:hover {
    color: #e74946;
}


header{
	display:block;
	font-family: Bevan;
}

section{
	display:block;
}


th{
	padding: 0em;
}

td{
	padding: 0em;
}

footer{
	float:left;
	margin-top:7em;
	width:100%;
	text-align: center;
}


legend{
	font-size: 1.7em;
}

.homePageText ul{
	float:left;
}

.homePageText ul li{
	float:left;
	width:100%;
}

.homePageText ul li a:link{
	color:#e74946;
}

.homePageText ul li a:visited{
	color:#e74946;
}

.homePageText ul li a:active{
	color:#e74946;
}

.homePageText ul li a:hover {
	color: #fffcfe;
    background-color: #2f2f2f;
}


.pageTop{
	float:left;
	color:#e74946;
	padding-left: 0.2em;
	font-size: 5em;
	width:100%;
	margin-bottom: 0.2em;

	/*#gradient from: http://gradients.glrzad.com/;*/
	/*background-image: linear-gradient(left , #FFFCFE 13%, #FFFCFE 57%, #E74846 100%);
	background-image: -o-linear-gradient(left , #FFFCFE 13%, #FFFCFE 57%, #E74846 100%);
	background-image: -moz-linear-gradient(left , #FFFCFE 13%, #FFFCFE 57%, #E74846 100%);
	background-image: -webkit-linear-gradient(left , #FFFCFE 13%, #FFFCFE 57%, #E74846 100%);*/
}

.navBar{
	float:left;
	color:#fffcfe;
	width:100%;
	margin: 0;
	font-size:1.4em;
	background-color: #2f2f2f;

	/*gradient from: http://gradients.glrzad.com/*/
	/*background-image: linear-gradient(left , #2f2f2f 13%, #2f2f2f 57%, #fffcfe 100%);
	background-image: -o-linear-gradient(left , #2f2f2f 13%, #2f2f2f 57%, #fffcfe 100%);
	background-image: -moz-linear-gradient(left , #2f2f2f 13%, #2f2f2f 57%, #fffcfe 100%);
	background-image: -webkit-linear-gradient(left , #2f2f2f 13%, #2f2f2f 57%, #fffcfe 100%);*/
}

.navLink{
	float:left;
	margin:0em;
	border: 0em;
	width:6em;
	padding-left:2em;
	padding-right:0em;
	padding-top: 0.6em;
	padding-bottom: 0.2em;
	list-style-type: none;
	font-weight: bold;
}

.italics{
	font-style: italic;
}

.mistHeading{
	font-variant: small-caps;
	margin-bottom:0;
	padding-bottom: 0;
}

#queryList, #selectedList{
	height:20em;
	background-color: #fffcfe;
	color:#2f2f2f;
	width:100%;
}


.strainSelection{
	display:block;
	float:left;
	margin-left: 5em;
	margin-top:1em;
	width:25%;
	height:35em;
	overflow:auto;
}

.strainText{
	color: #2f2f2f;
}

.actionButton{
	float:left;
	background-color: #e74846;
	color:#2f2f2f;
	font-size: 2em;
	border-color: #fffcfe;
}

.retrieveButtonWrapper{
	float:left;
	margin-left:5em;
	margin-top: 1em;
	width:100%;

}

.actionButton:hover{
	background-color: #fffcfe;
}

.fieldsetLegend{
	color: #2f2f2f;
	font-size: 1.5em;
}

.checkboxText{
	float:left;
	color:#2f2f2f;
	font-size: 1.2em;
	width:100%;
	margin-top: 1em;
}


.strainDatum{
	float:left;
	background-color:#fffcfe;
	color: #2f2f2f;
	text-align: center;
	height:100%;
	/*width is 15 * 1.2*/
	width:14.4em;
	overflow: hidden;
}


.homePageWrapper{
	float:left;
}

.homePageText{
	float:left;
	text-align: justify;
	width:60%;
	font-size: 1.5em;
	margin-right: 20%;
	margin-left: 3.33em;
	line-height: 1.5em;
}

.homePageParagraph{
	padding-top: 1em;
}


/*upload page*/
.uploadForm{
	float:left;
	margin-left: 5em;
	font-size: 1em;
	margin-top:1em;
}

.uploadFieldset{
	float:left;
	width:40em;
	margin-right:5em;
}

.uploadExplanation{
	float:left;
	font-size: 2em;
	text-align: justify;
	margin-left: 2.5em;
	width:70%;
}

.uploadParagraph{
	float:left;
	margin-top:1em;
}

.uploadButtonWrapper{
	float:left;
	width:100%;
	margin-left:0em;
	margin-top:2em;
}

.uploadField{
	float:left;
	margin-top:1em;
}

.uploadLabel{
	float:left;
	width:12em;
}
/*end upload page*/


/*new tabs based on http://css-tricks.com/functional-css-tabs-revisited/*/
.phylogenySelection{
	font-size: 1em;
    float:left;
    margin-top:1em;
    margin-left:5em;
    margin-right:100%;
    width:44em;
    height:9em;
}

.phylogenySelection p{
	font-size: 1.5em;
}

.phylogeneticTree{
	padding-top:6.2em;
	float:left;
	display:block;
	height:auto;
	width:10em;
}

.strainNames{
	padding-top: 7.4em;
	float:left;
	height:auto;
	width:10em;
	word-wrap:break-word;
}

.strainNames div{
	float:left;
	height:4em;
	width:15em;
	overflow: hidden;
}

.tabContainer{
	float:left;
	height: 40em;
	width:150em;
}

.tabs {
	position: relative;
	clear: both;
	margin-top:1em;
}

.tab {
  float: left;
}

.tab label {
  background: #fffcfe; 
  padding: 1em; 
  border: 0.1em solid #2f2f2f; 
  margin-left: -1px; 
  position: relative;
  left: 1px; 
}
.tab [type=radio] {
  display: none;   
}
.content {
  position: absolute;
  top: 2.2em;
  left: 0;
  background: #eeebed;
  right: 0;
  bottom: 0;
  padding: 0.1em;
  border-top : 0.1em solid #2f2f2f; 
  border-bottom: 0.1em solid #2f2f2f; 
  border-right : 0.1em solid #2f2f2f;
  overflow-x:scroll;
  overflow-y:hidden; 
}

#serovarTab,#crispolTab{
	float:left;
	height:4em;
	width:1000em;
}

.content div{
	float:left;
	height:4em;
	width:100%;
}

.content div div{
	float:left;
	width:6em;
	margin:0.2em;
	word-wrap:break-word;
	overflow-y:hidden;
}

[type=radio]:checked ~ label {
  background: #eeebed;
  border-bottom: 0.1em solid #eeebed;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}











