<TMPL_INCLUDE NAME="top_of_page.tmpl">

 <script src="/styper/jquery-1.10.2.min.js" type="text/javascript"></script>  

 <script type="text/javascript">  
  $(document).ready(function() {  
   $('#add').click(function() {  
    return !$('#queryList option:selected').remove().appendTo('#selectedList');  
   });  
   $('#remove').click(function() {  
    return !$('#selectedList option:selected').remove().appendTo('#queryList');  
   });

   $('#submitButton').click(function() {  
	 $('#selectedList option').each(function() {  
	  $(this).prop("selected", "selected");  
	 });  
}); 
   
  
  }); 
     
 </script>


<div class="homePageText">
The typing information and phylogeny of the selected strains will be displayed after pressing 'Retrieve Results'.
Currenty the following molecular subtyping schemes are implemented:

<ul>
<li>
Serotyping: Franklin K, Lingohr EJ, Yoshida C, Anjum M, Bodrossy L, Clark CG, Kropinski AM, Karmali MA. 2011.
Rapid genoserotyping tool for classification of <span class="italics">Salmonella</span> serovars.
<a href="http://www.ncbi.nlm.nih.gov/pubmed/21697324">PMID: 21697324</a></br>
Yoshida C, Franklin K, Konczy P, McQuiston JR, Fields PI, Nash JH, Taboada EN, Rahn K. 2007.
Methodologies towards the development of an oligonucleotide microarray for determination of <span class="italics">Salmonella</span> serotypes.
<a href="http://www.ncbi.nlm.nih.gov/pubmed/17555834">PMID: 17555834
</a>
</li>

<li>
MLST: Achtman M, Wain J, Weill FX, Nair S, Zhou Z, Sangal V, Krauland MG, Hale JL, Harbottle H, Uesbeck A, Dougan G, Harrison LH, Brisse S; S. Enterica MLST Study Group. 2012.
Multilocus sequence typing as a replacement for serotyping in <span class="italics">Salmonella enterica</span>.
<a href="http://www.ncbi.nlm.nih.gov/pubmed/22737074">PMID: 22737074</a>
</li>

<li>
CRISPOL: Fabre L, Zhang J, Guigon G, Le Hello S, Guibert V, Accou-Demartin M, de Romans S, Lim C, Roux C, Passet V, Diancourt L, Guibourdenche M, Issenhuth-Jeanjean S, Achtman M, Brisse S, Sola C, Weill FX. 2012.
CRISPR typing and subtyping for improved laboratory surveillance of <span class="italics">Salmonella</span> infections.
<a href="http://www.ncbi.nlm.nih.gov/pubmed/22623967">PMID: 22623967</a>
</li>

<li>
MLVA: Malorny B, Junker E, Helmuth R. 2008.
Multi-locus variable-number tandem repeat analysis for outbreak studies of <span class="italics">Salmonella enterica</span> serotype Enteritidis.
<a href="http://www.ncbi.nlm.nih.gov/pubmed/18513386">PMID: 18513386</a></br>
Hopkins KL, Peters TM, de Pinna E, Wain J. 2011.
Standardisation of multilocus variable-number tandem-repeat analysis (MLVA) for subtyping of <span class="italics">Salmonella enterica</span> serovar Enteritidis.
<a href="http://www.ncbi.nlm.nih.gov/pubmed/21871223">PMID: 21871223</a></br>
</li>

    
</ul>
</div>



<form 	method="post",
		enctype="application/x-www-form-urlencoded",
		action="/styper/assays/r"
		class="assayForm"
		id="submitForm"
		>
		
 		<fieldset class="strainSelection">
 			<legend> Select <span class="italics">Salmonella</span> Strains To Show Analyses For </legend>
 			 <select multiple id="queryList">	 			 	
			 		<TMPL_LOOP NAME="ALL_STRAINS">
			 		<option value='<TMPL_VAR NAME="STRAIN_ID">' class="strainText"><TMPL_VAR NAME="STRAIN_NAME"></option>
 				</TMPL_LOOP>
 			</select>
 			 <button href="#" id="add" class="actionButton" type="button">&gt;&gt;Add&gt;&gt;</button>  
 		</fieldset>
 		
 		<fieldset class="strainSelection">
 			<legend> Selected <span class="italics">Salmonella</span> Strains</legend>
 			 <select multiple id="selectedList" name="allStrains">	 			 	
 			</select>
 			<button href="#" id="remove" class="actionButton" type="button">&lt;&lt;Remove&lt;&lt;</button>
 		</fieldset>

 		<fieldset class="phylogenySelection">
             <legend>Select Method to Build Whole Genome Phylogeny</legend>                                   
             <p><label> <input type=radio name=phylogeny value="core" checked> Core-genome Phylogeny </label></p>
             <p><label> <input type=radio name=phylogeny value="pan"> Pan-genome Phylogeny </label></p>
        </fieldset>

 	<p class="retrieveButtonWrapper"><button class="actionButton" id="submitButton" type="submit">Retrieve Results</button></p>
</form>

<TMPL_INCLUDE NAME="bottom_of_page.tmpl">

