<!--This is the table template for displaying the results of each assay  --> 	
<!-- 

######################################
#    #       #mlva#mlst#serovar#
######################################
#tree#       #
#    #strains#
#	 #       #
#    #       #
#    #       #
######################################   

 -->

<TMPL_INCLUDE NAME="top_of_page.tmpl">

<div class="phylogeneticTree">
<IMG src="<TMPL_VAR NAME='TREE_FILE'>" alt="tree">
</div>

<div class="strainNames">
<TMPL_LOOP NAME="SELECTED_STRAINS">
	<div>
	<TMPL_VAR NAME="SELECTED_STRAIN">
	</div>
</TMPL_LOOP>
</div>


<div class="tabContainer">
 <!-- this is "bad" form, but need dynamic calculation of div height -->
<div class="tabs" style="height:<TMPL_VAR NAME='TABS_HEIGHT'>em">
   <div class="tab">
       <input type="radio" id="tab-1" name="tab-group-1" checked>
       <label for="tab-1">CRISPOL</label>
       
       <div class="content">
        <TMPL_LOOP NAME="CRISPOL_DATA">
	   		<div id="crispolTab">
		   	<TMPL_LOOP NAME="ROW">
		   	<div><TMPL_VAR NAME="ROW_DATUM"></div>
		   	</TMPL_LOOP>
		   	</div>
	   </TMPL_LOOP>	
       </div> 
   </div>
    
   <div class="tab">
       <input type="radio" id="tab-2" name="tab-group-1">
       <label for="tab-2">MLVA</label>
       
       <div class="content">
          <TMPL_LOOP NAME="MLVA_DATA">
	   		<div id="mlvaTab">
		   	<TMPL_LOOP NAME="ROW">
		   	<div><TMPL_VAR NAME="ROW_DATUM"></div>
		   	</TMPL_LOOP>
		   	</div>
	   </TMPL_LOOP>	
       </div> 
   </div>
    
    <div class="tab">
	   <input type="radio" id="tab-3" name="tab-group-1">
	   <label for="tab-3">MLST</label>
	 
	   <div class="content">
	   <TMPL_LOOP NAME="MLST_DATA">
	   		<div id="mlstTab">
		   	<TMPL_LOOP NAME="ROW">
		   	<div><TMPL_VAR NAME="ROW_DATUM"></div>
		   	</TMPL_LOOP>
		   	</div>
	   </TMPL_LOOP>	
	   </div> 
   </div>

   <!-- <div class="tab">
       <input type="radio" id="tab-4" name="tab-group-1">
       <label for="tab-4">AMR</label>
     
       <div class="content">
           <TMPL_LOOP NAME="AMR_DATA">
	   		<div id="amrTab">
		   	<TMPL_LOOP NAME="ROW">
		   	<div><TMPL_VAR NAME="ROW_DATUM"></div>
		   	</TMPL_LOOP>
		   	</div>
	   </TMPL_LOOP>	
       </div>
    </div> -->

    <div class="tab">
       <input type="radio" id="tab-5" name="tab-group-1">
       <label for="tab-5">Serovar and Antigenic Formula</label>
     
       <div class="content">
        <TMPL_LOOP NAME="SEROVAR_DATA">
	   		<div id="serovarTab">
		   	<TMPL_LOOP NAME="ROW">
		   	<div><TMPL_VAR NAME="ROW_DATUM"></div>
		   	</TMPL_LOOP>
		   	</div>
	   </TMPL_LOOP>	
       </div>
    </div>    
</div>
</div>

<TMPL_INCLUDE NAME="bottom_of_page.tmpl">
