<!DOCTYPE HTML>

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Salmonella Typing Results</title>
	<link href="/styper/salmonella.css" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Bevan' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>

</head>	

<header class="pageTop">
<p><span class="italics">SISTR: Salmonella In Silico</span> Typing Resource</p>
</header>

<div class="navBar">
	<ul class="navBar">
		<li class="navLink"><a href="/styper/home/d">Home</a></li>
		<li class="navLink"><a href="/styper/assays/d">Assays</a></li>
		<li class="navLink"><a href="/styper/upload/d">Upload</a></li>
	</ul>
</div>
<body>